<!DOCTYPE HTML>
<html xmlns:th = "http://www.tymeleaf.org">
	<head>
		<title>Student Form</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" th:href="@{/css/demo.css}" />	
	</head>
	<body>		
		<form th:action="@{/processStudentForm}" th:object="${student}" method="POSt" class="center">
			First Name : <input type="text" th:field="*{firstName}" placeholder="Enter first Name" />
			</br>
			Last Name : <input type="text" th:field="*{lastName}" placeholder="Enter Last Name" />
			</br>
			<input type="submit" value="Submit"/>		
		</form>		
	</body>
</html>