<!DOCTYPE HTML>
<html xmlns:th = "http://www.tymeleaf.org">
	<head>
		<title>Student Registration Form</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" th:href="@{/css/demo.css}" />	
	</head>
	<body>	
		<i>Fill out the form. Asterisk (*) means required.</i>	
		<form th:action="@{/processStudentForm}" th:object="${student}" method="POSt" class="center">
			First Name (*) : <input type="text" th:field="*{firstName}" placeholder="Enter first Name" />
    		<span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"  class="error"></span>
    		<br><br>
    		
			Last Name (*) : <input type="text" th:field="*{lastName}" placeholder="Enter Last Name" />			
    		<span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"  class="error"></span>
			<br><br>
			
			<select th:filed="*{country}" th:field="*{country}">
				<option th:each="country : ${countries}" th:value="${country}" th:text="${country}"/>
			</select>
			
			</br><br>
			Favorite Programming Language :
			<input type="radio" th:field="*{favoriteLanguage}" th:each="language : ${languages}" 
							th:value="${language}" th:text="${language}"/>
							
			</br><br>
			Favorite Operating System :
			<input type="checkbox" th:field="*{operatingSystem}" th:each="system : ${systems}"
							th:value="${system}" th:text="${system}"/>
							
			</br><br>
			<input type="submit" value="Submit"/>		
		</form>		
	</body>
</html>