<!DOCTYPE HTML>
<html xmlns:th = "http://www.tymeleaf.org">
	<head>
		<title>Student Registration Form</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" th:href="@{/css/demo.css}" />	
	</head>
	<body>		
		<form th:action="@{/processStudentForm}" th:object="${student}" method="POSt" class="center">
			First Name : <input type="text" th:field="*{firstName}" placeholder="Enter first Name" />
			<br><br>
			Last Name : <input type="text" th:field="*{lastName}" placeholder="Enter Last Name" />
			<br><br>
			<select th:filed="*{country}" th:field="*{country}">
				<option th:value="Brazil">Brazil</option>
				<option th:value="France">France</option>
				<option th:value="India">India</option>
				<option th:value="SriLanka">SriLanka</option>
			</select>
			</br><br>
			Favorite Programming Language :
			<input type="radio" th:field="*{favoriteLanguage}" th:value="GO">GO</input>
			<input type="radio" th:field="*{favoriteLanguage}" th:value="Java">Java</input>
			<input type="radio" th:field="*{favoriteLanguage}" th:value="Python">Python</input>
			</br><br>
			<input type="submit" value="Submit"/>		
		</form>		
	</body>
</html>