<!DOCTYPE HTML>
<html xmlns:th = "http://www.tymeleaf.org">
	<head>
		<title>Hello world Processed</title>
		<link rel="stylesheet" th:href="@{/css/demo.css}" />	
	</head>
	<body class="funny">
		<h1>-: Student Information :-</h1></br>
		<h1>The Student is confirmed : <span th:text="${student.firstName}+' '+${student.lastName}+' From Country '+ ${student.country}"/></h1>
		<h1>Country Name : <span th:text="${student.country}"/></h1>
		<h1>Choosen Language : <span th:text="${student.favoriteLanguage}"/></h1>
	</body>
</html>